.potentialLead{
    flex: 4;
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.potentialLeadHeader {
    color: var(--bg-clr);
    font-weight: 900;
    font-size: larger;
}  

.potentialLead-title-div{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.potentialLead h3{
    font-size: clamp(24px, 2vw, 32px);
}